.signup-container {
  height: 100px;
}

nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

nav > ul a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
#logo {
  padding-left: 900px;
  float: right;
  height: 10%;
  width: 10%;
}

nav > ul a:hover {
  background-color: #555;
  color: white;
}
h4 {
  padding-left: 890px;
}
.navbar_navbar {
  grid-area: a;
}
:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #f5f5f5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "a a a a a a"
    "h h h h h h"
    "h h h h h h"
    "h h h h h h"
    "h h h h h h";
}
.home {
  display: grid;
  height: 100%;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "n n n n n n"
    "m m m m m m"
    "m m m m m m"
    "m m m m m m";
  }
.home {
  grid-area: h;
} 

.chat {
  grid-area: m;
}
.chat {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "r s s s s s"
    "r s s s s s"
    "r s s s s s"
    "r s s s s s"
    "r f f f f f";
}
.signup-container {
  grid-area: h;
  padding: 8% 25% 25% 40%;
  border-style: solid;
  border-width: 2px 10px 4px 20px;
}
.signIn-container {
  grid-area: h;
  width: 33%;
  padding: 10% 25% 25% 40%;
  border-style: solid;
  border-width: 2px 10px 4px 20px;
}
.naviagte > ul {
  grid-area: n;
}
.friends-list {
  grid-area: r;
}
.navbarhome > ul {
  display: flex;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  grid-area: n;
  border-radius: 10px;
  border: slategrey;
  font-family: Lucida Console;
}
.friends-list {
  box-sizing: content-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  height: 100%;
}
.message-list {
  grid-area: s;
}
.send-message-form {
  grid-area: f;
}

.message {
  margin: 15px 0;
}
.message1 {
  padding-left: 800px ;
}

.message .message-username {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message1 .message1-username {
  font-size: 11px;
  color: black;
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--main-color);
  color: var(--secondary-color);

  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}
.message1 .message1-text {
  background: green;
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: var(--secondary-color);
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  background: var(--send-message-form);
  display: block;
  align-items: center;
    text-align: center;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: var(--send-message-form);
  font-weight: 200;
  align-items: center;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
}

.help-text {
  position: absolute;
  top: 10px;
}
.search-friends {
  grid-area: m;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend-requests {
  grid-area: m;
  /* border: solid 2px; */
  /* border-radius: 40px; */
  text-align: center;
  vertical-align: middle;
}
.clickFriends{
  text-align: center;
  vertical-align: middle;
}
.friends-list > ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}
.friends-list li {
  margin: 20px 0px 0px 25px;
}
.friends-list > h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}
.friends-list .friend a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
}
.friends-list .friend.active a {
  color: var(--secondary-color);
}